<p id="notice"><%= notice %></p>

<%- model_class = MobileAppScreen -%>
<div class="page-header">
  <h2>Pantallas</h2>
</div>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Mobile app</th>
      <th>Name</th>
      <th><%=t '.actions', :default => "Opciones" %></th>
    </tr>
  </thead>

  <tbody>
    <% @mobile_app_screens.each do |mobile_app_screen| %>
      <tr>
        <td><%= mobile_app_screen.mobile_app.title %></td>
        <td><%= mobile_app_screen.name %></td>
        <td>
          <%= link_to t('.show', :default => "Ver"),
                      mobile_app_screen_path(mobile_app_screen), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => "Editar"),
                      edit_mobile_app_screen_path(mobile_app_screen), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Eliminar"),
                      mobile_app_screen_path(mobile_app_screen),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => "Nueva Pantalla"),
            new_mobile_app_screen_path,
            :class => 'btn btn-primary' %>
