<%- model_class = MobileAppScreen -%>
<div class="page-header">
  <h2>Pantalla</h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "Nombre:" %></strong></dt>
  <dd><%= @mobile_app_screen.name %></dd>
  <dt><strong><%= "App:" %></strong></dt>
  <dd><%= @mobile_app_screen.mobile_app.title %></dd>
</dl>

<center><div class="appPreviewContainer">
  <div class="appPreviewHeadContent"><div><%= Time.zone.now.to_s(:time) %></div></div>
  <div id="build-screen-area" style="width:300px; height:500px; margin-left: 7px; background-color: #AAAAAA;">
	<%= @mobile_app_screen.raw_html.html_safe if @mobile_app_screen.raw_html %>
  </div>
<div></center>
<br><br>

<%= link_to t('.back', :default => "Volver"),
              mobile_app_screens_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => "Editar"),
              edit_mobile_app_screen_path(@mobile_app_screen), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => "Eliminar"),
              mobile_app_screen_path(@mobile_app_screen),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "¿Estas seguro?")) },
              :class => 'btn btn-danger' %>
