<%- model_class = MobileAppScreen -%>
<div class="page-header">
  <h2>Pantalla: <%=@mobile_app_screen.name%></h2>
</div>

<div id="screenPreview">

  <div id="wsUrl" style="display:none;"><%= @mobile_app_screen.wsURL %></div>

  <center><div class="appPreviewContainer">
    <div class="appPreviewHeadContent"><div><%= Time.zone.now.to_s(:time) %></div></div>
    <div id="build-screen-area" class="build-screen-area" style="width:235px; height:352px; margin-left: 7px; background-color: #AAAAAA;">
  	<%= @mobile_app_screen.raw_html.html_safe if @mobile_app_screen.raw_html %>
    </div>
  <div></center>
  <br><br>

  <%= link_to t('.back', :default => "Volver"),
                mobile_app_screens_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => "Editar"),
                edit_mobile_app_screen_path(@mobile_app_screen), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => "Eliminar"),
                mobile_app_screen_path(@mobile_app_screen),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "¿Estas seguro?")) },
                :class => 'btn btn-danger' %>

</div>


<script type="text/javascript">

  $(document).ready(function (){
    wsUrl = $("#wsUrl").html();
    if(wsUrl!=""){
      //Intento obtener la url del WS, si no la consigo es porque no hay ws
      $("#loading").show();
      $.ajax({
        url: wsUrl,
        dataType: "jsonp"
      }).then(function(response) {
        $.each(response.data, function(index, dataArray){
          //clone el divWS segun el id (como lo consigo? en el peor de los casos solo se puede llamar un WS por pantalla, entonces el id es algo fijo).
          elemToClone = $("#wsElemToCopy").clone();
          elemToClone.attr("id", "wsDivCopy"+index);
          //sacar el display none
          elemToClone.css("display", "block");
          elemHeight = elemToClone.css("height");
          if(elemHeight.includes("%")){
            elemHeight = elemHeight.replace("%","");
            totalHeight = $("#build-screen-area").height();
            fixedHeight = totalHeight*elemHeight/100;
            elemToClone.css("height", fixedHeight+"px");
          }
          $.each(dataArray, function(key, value){
            //aca cambio la data con la key dentro del id del elemento padre
            $("#wsElemCopiesContainer").append(elemToClone);
            $("#wsDivCopy"+index+" .control-class-ws-"+key).html(value);
          });
        });
        $("#loading").hide();
      });
    
    }  
  });

</script>
