<%= form_for @mobile_app, :html => { :class => "form-horizontal mobile_app" } do |f| %>

  <% if @mobile_app.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mobile_app.errors.count, "error") %> prohibited this mobile_app from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mobile_app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Título", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descripción", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :apptype, "Tipo de aplicación", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :apptype, ['Tabs','SideMenu','Blank'], :selected => @mobile_app.apptype %>
    </div>
    <%=f.error_span(:apptype) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => "Cancelar"),
                mobile_apps_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
