<%- model_class = MobileApp -%>
<div class="page-header">
  <h2>Mis Apps</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Título" %></th>
      <th><%= "Descripción" %></th>
      <th><%= "Tipo Aplicación" %></th>
      <th><%= "Fecha de creación" %></th>
      <th><%=t '.actions', :default => "Opciones" %></th>
    </tr>
  </thead>
  <tbody>
    <% @mobile_apps.each do |mobile_app| %>
      <tr>
        <td><%= mobile_app.title %></td>
        <td><%= mobile_app.description %></td>
        <td><%= mobile_app.apptype %></td>
        <td><%= mobile_app.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to t('.show', :default => "Ver"),
                      mobile_app_path(mobile_app), :class => 'btn btn-default btn-xs', 
                      :onclick => 'showLoading()' %>
          <%= link_to t('.edit', :default => "Editar"),
                      edit_mobile_app_path(mobile_app), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Eliminar"),
                      mobile_app_path(mobile_app),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Nueva"),
            new_mobile_app_path,
            :class => 'btn btn-primary' %>
