<div class="mainLoginContainer">
  <div class="cellPhoneContainer">
    <div class="loginHeadContent"><div><%= Time.zone.now.to_s(:time) %></div></div>
    <div class="loginContent">
      <h2>Cambiar Contrase単a</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :current_password, placeholder: "Contrase単a Actual", :class => "textInput", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Nueva Contrase単a", :class => "textInput", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirmar Nueva Contrase単a", :class => "textInput", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "CAMBIAR", :class => "completeButton" %>
        </div>
      <% end %>

      <div class="optionContainer">
        <%= link_to "Volver", :back %>
      </div>
    </div>
  </div>
</div>
