<div class="mainLoginContainer">
  <div class="cellPhoneContainer">
    <div class="loginHeadContent"><div><%= Time.zone.now.to_s(:time) %></div></div>
    <div class="loginContent">
      <h2>Registrate</h2>
      

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, placeholder: "Email", :class => "textInput", autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Contraseña", :class => "textInput", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirmar Contraseña", :class => "textInput", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "ACEPTAR", :class => "completeButton" %>
        </div>
      <% end %>
      
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

