<%= form_for @version, :html => { :class => "form-horizontal notification" } do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, "Descripción", :class => 'control-label col-lg-2'  %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control'   %>
    </div>
  </div>
  <div class="field">
    <%= f.hidden_field :mobile_app_id, :value => @mobile_app.id%>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
