<p id="notice"><%= notice %></p>

<h1>Versiones anteriores de <%= @mobile_app.title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Creation date</th>
      <th><%=t '.actions', :default => "Opciones" %></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.description %></td>
        <td><%= version.created_at.strftime("%d/%m/%Y") %></td>
        <td>
        <%= link_to t('.restore', :default => "Restaurar"),
                      versions_restore_path(version.id), 
                      :method => :post,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.edit', :default => "Editar"),
                      edit_version_path(version), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => "Eliminar"),
                      version_path(version),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to t('.new', :default => "Nueva"),
            new_version_path + "/" + @mobile_app.id.to_s,
            :class => 'btn btn-primary' %>