<p id="notice"><%= notice %></p>

<h1>Push Notifications de <%= @mobile_app.title %> </h1> 

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Mensaje</th>
      <th>Fecha de envío</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title %></td>
        <td><%= notification.message %></td>
        <td><%= notification.action_date.strftime("%d/%m/%Y %H:%M %p") %></td>
        <td><%= notification.sent %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => "Nueva push notification"),
            new_notification_path + "/" + @mobile_app.id.to_s,
            :class => 'btn btn-primary', method: :get %>
